body {
  margin: 5px;
  padding: 5px;
  background: green;
  font-family: 'Inconsolata', monospace;
  color: lightgreen;
}

a {
  color: black;
}

textarea {
  border-radius: 5px;
  border: 3px solid;
  padding: 5px;
  color: green;
  font-family: 'Inconsolata', monospace;
  width: 100%;
  font-size: medium;
}

#b {
    height: 21px;
    border-radius: 5px;
}

#p {
    border: 1px solid lightgreen;
    padding: 5px;
    background: gray;
    height: 100px;
    color: lightgreen;
}

.code {
    background: #AAA;
    padding: 5px;
    white-space: pre;
}

footer {
    background: black;
    color: white;
    padding: 5px;
}
