body {
  margin: 5px;
  padding: 5px;
  background: orange;
  font-family: 'Roboto Mono', monospace;
  color: black;
}

a {
  color: black;
}

textarea {
  border-radius: 5px;
  border: 3px solid;
  padding: 5px;
  color: black;
  font-family: 'Roboto Mono', monospace;
  width: 100%;
  font-size: 125%;
}

#b {
    height: 21px;
    border: 2px solid;
    background: white;
    border-radius: 5px;
}

#p {
    border: 1px solid black;
    padding: 5px;
    background: gray;
    height: 100px;
    color: black;
    font-size: 125%;
    overflow-y: scroll;
}

.code {
    background: #AAA;
    padding: 5px;
    white-space: pre;
}

footer {
    background: black;
    color: white;
    padding: 5px;
    text-align: center;
}
